<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>

  <body>
    <div class="navbar-wrapper">
      <header class="container">
        <% include ../partials/header %>
      </header>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <h2 class="text-center">Welcome to ballsonmychin.com</h2>
      <p>Where all your Costner dreams come true.</p>
      <p>&nbsp;</p>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/img/costner-fighter.jpg" alt="Costner: Fighter" width="200" height="200">
          <h3>Fighter</h3>
          <p>He robs from the rich and gives to himself. But he <i>will</i> fight for you.</p>
          <p><a class="btn btn-round" href="https://www.youtube.com/watch?v=fhz5aB-u77Q" target="_blank">CostnerVision&trade; &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/costner-lover.jpg" alt="Costner: Lover" width="200" height="200">
          <h3>Lover</h3>
          <p>Don Juan Costner. Even Fabio pales in comparison.</p>
          <p><a class="btn btn-round" href="#">CostnerLove&trade; &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/costner-bodyguard.jpg" alt="Costner: Bodyguard" width="200" height="200">
          <h3>Bodyguard</h3>
          <p>Kevin Costner is most certainly the best bodyguard of all time.</p>
          <p><a class="btn btn-round" href="#" role="button">CostnerGuard&trade; &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Massive movie star!</h2>
          <p class="lead">Kevin Costner was in Field of Dreams. Here he is posing IRL next to a giant VHS tape.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/fod-vhs.jpg" alt="Field of Dreams" width="100%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">So many movies!</h2>
          <p class="lead">He's starred in everything from Police Academy to Star Wars, from Flashdance to Waterworks. He's played a pirate, a monk, a baseball star; you name it, he's played it!</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/img/costner-playing.jpg" alt="Costner playing around">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What the actual... <span class="text-muted">fuck.</span></h2>
          <p class="lead">Shit just got real.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/bg.gif" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <% include ../partials/footer %>
      </footer>

    </div><!-- /.container -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="/assets/js/vendor/holder.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
